.prepayment-plan-form {
  padding: 0;
  border: 1px solid;
  border-color:rgb(3, 131, 186);
  border-radius: 4px;

  .title {
    background-color:rgb(3, 131, 186);
    color: white;
    padding: 0px 12px;
  }

  .form {
    padding: 0px 12px;
  }
}
